<!DOCTYPE html>
<html>

  <head>
    <headbase></headbase>
  </head>

  <body>
    <navbase></navbase>

    <div class="main_container">
    <div class="title">
      <h1>BookAtlas</h1>
    </div>
    <div class="subtitle">
      <h3>read  |  rate  |  review</h3>
    </div>
  </div>


  <div class="secondary_container">
    
    <h1 class="nyt" id="nyt">NYT Bestseller's</h1>
      {% for genre in genre_dict.keys() %}
        <a class="genres" href="#{{ genre }}">{{ genre }}</a>
      {% endfor %}

      {% for genre, genre_list in genre_dict.items() %}
    
        <h3 class="genre_title" id="{{ genre }}">{{ genre }}</h3>
    
        {% for title, book_info in genre_list.items() %}

          
          <div class="card" style="width: 18rem;">
            <img src="{{ book_info['img'] }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ title }}</h5>
              <p class="card-text">{{ book_info['desc'] }}</p>
            </div>
          </div>

        {% endfor %}
      <div>
        <a class="genres" href="#nyt">Back to Top</a>
      </div>
      {% endfor %}
    </div>

  </body>

</html>


