/* https://coolors.co/37123c-71677c-a99f96-dda77b-945d5e */
/* 
https://coolors.co/daffef-d0ffd6-d5e2bc-a6979c-d3c0d2 */
/* 
https://coolors.co/212121-524e4a-e0ccb8-a82e2e-e2552a*/

html {
  text-align: center;
}
body {
  background-color: #212121;
}

nav {
  background: #E0CCB8;
  font-family: "Lobster", sans-serif;
}

content {
  width: 50%;
}

.main_container, .secondary_container {
  background-color: #e0ccb8;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 30px;
  border: none;
  border-style: none solid;
  border-width: 1em;
  border-color: #E2552A;
  padding: 3%;

}

.secondaay_container {
  margin-top: -2%;
}

.main_container {
  margin-top: 5%;
}

h1 {
  margin: 0 auto;
  font-family: "Lobster";
  font-size: 5em;
}

.nyt {
  font-size: 4em;
  padding: 3%;
}

.genres {
  background: #E2552A;
  color: #212121;
  border-radius: 10px;
  padding: .5%;
  margin: 1%;
  display: inline-block;
  text-decoration: none;
}



.subtitle, .genre_title, .genres {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: bold;
}

h3 {
  font-size: 100%;
  padding-top: 3%;
}
.secondary_container {
  margin-top: 10%;
}

h2 {
  font-family: "Lobster", sans-serif;
  font-size: 200%;
}

.genre_title {
  font-size: 1.5em;
  padding: 7% 5% 5% 5%;
}

.card {
  display: inline-block;
  margin: 2%;
}

label {
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}